
<page-header [autoBreadcrumb]="false"></page-header>
<nz-card [nzBordered]="false">
  <form class="search__form mb-0" nz-form="" nzLayout="inline" (ngSubmit)="search()">
    <nz-row [nzGutter]="{ md: 8, lg: 12, xl: 24 }">
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="no">规则编号</nz-form-label>
          <nz-form-control>
            <input nz-input="" [(ngModel)]="q.no" name="no" placeholder="请输入" id="no"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">使用状态</nz-form-label>
          <nz-form-control>
            <nz-select [(ngModel)]="q.status" name="status" nzPlaceHolder="请选择使用状态" id="status" [nzShowSearch]="true">
              <nz-option *ngFor="let statu of status; let i = index" [nzLabel]="statu.text" [nzValue]="i"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="callNo">调用次数</nz-form-label>
          <nz-form-control>
            <input nz-input="" [(ngModel)]="q.callNo" name="callNo" placeholder="请输入调用次数" id="callNo"/>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="updatedAt">更新日期</nz-form-label>
          <nz-form-control>
            <nz-range-picker [(ngModel)]="q.updatedAt" name="updatedAt" id="updatedAt"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="8" nzSm="24" *ngIf="expandForm">
        <nz-form-item>
          <nz-form-label nzFor="status">使用状态</nz-form-label>
          <nz-form-control>
            <nz-radio-group [(ngModel)]="q.status" name="statusRadio" id="statusRadio">
              <label nz-radio-button="" *ngFor="let statu of status; let i = index" [nzValue]="i">{{statu.text}}</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="expandForm ? expandFormQueryBtnSpan : 8" [class.text-right]="true">
        <nz-form-item class="align-items-center">
          <button nz-button="nz-button" type="submit" nzType="primary" [nzLoading]="loading">查询</button>
          <button nz-button="nz-button" type="reset" (click)="reset()">重置</button><a class="ml-sm" (click)="expandForm=!expandForm">{{expandForm ? '收起' : '展开'}}<i class="anticon" [class.anticon-down]="!expandForm" [class.anticon-up]="expandForm"></i></a>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </form>
  <nz-row nzType="flex">
    <nz-col>
      <nz-radio-group [(ngModel)]="q.sortDefIndex">
        <label nz-radio-button="" *ngFor="let s of sortList; let i = index;" [nzValue]="i" (click)="selectSort(i)">{{s.title}}<i class="anticon" *ngIf="i===q.sortDefIndex &amp;&amp; s.isCanSelectOrderMode" [class.anticon-arrow-up]="!s.isDesc" [class.anticon-arrow-down]="s.isDesc"></i></label>
      </nz-radio-group>
    </nz-col>
  </nz-row>
  <nz-divider></nz-divider>
  <nz-row class="mb-md" nzType="flex" nzJustify="space-between" nzAlign="middle">
    <nz-col>
      <button nz-button="" nzType="primary" (click)="add()"><i class="anticon anticon-plus"></i><span>新建</span></button>
      <button class="ml-sm" nz-button="" (click)="exportToExcel()">输出</button>
      <button class="ml-sm" nz-button="" [disabled]="selectedRows.length === 0">批量操作</button>
      <nz-dropdown class="ml-sm" nzPlacement="bottomLeft">
        <button nz-button="" nz-dropdown="">更多操作<i class="anticon anticon-down"></i></button>
        <ul nz-menu="">
          <li nz-menu-item="" (click)="remove()" [nzDisabled]="selectedRows.length === 0">删除</li>
          <li nz-menu-divider=""></li>
          <li nz-menu-item="" [nzDisabled]="selectedRows.length === 0" (click)="approval()">审核</li>
        </ul>
      </nz-dropdown>
    </nz-col>
    <nz-col>
      <nz-alert nzType="info" [nzShowIcon]="true" [nzMessage]="message">
        <ng-template #message="">已选择<strong class="text-primary">{{selectedRows.length}}</strong>项&nbsp;&nbsp;<a class="ml-lg" *ngIf="selectedRows.length &gt; 0" (click)="clearSelected()">清空</a></ng-template>
      </nz-alert>
    </nz-col>
  </nz-row>
  <st #st="" [columns]="columns" [data]="data" [loading]="loading" (checkboxChange)="checkboxChange($event)" (change)="change($event)" [total]="stRecordTotal" [pi]="stPageCurrNumber" [page]="{showSize: true, showQuickJumper: true, front: false,showPagination: true}">
    <ng-template st-row="status" let-i="">
      <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
    </ng-template>
  </st>
</nz-card>