
<form nz-form="" [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert class="mb-lg" *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true"></nz-alert>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
        <input nz-input="" formControlName="userName" placeholder="请输入账户名...(admin)"/>
      </nz-input-group>
      <nz-form-explain *ngIf="userName.dirty &amp;&amp; userName.errors">请输入账户名！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
        <input nz-input="" type="password" formControlName="password" placeholder="请输入密码...(admin)"/>
      </nz-input-group>
      <nz-form-explain *ngIf="password.dirty &amp;&amp; password.errors">请输入密码！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <button nz-button="" type="submit" nzType="primary" nzSize="large" [nzLoading]="http.loading" nzBlock="">登录</button>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12"><a class="forgot" (click)="msg.error('该功能待实现...')">忘记密码？</a></nz-col>
    <nz-col class="text-right" [nzSpan]="12"><a class="register" routerLink="/passport/register">注册账户</a></nz-col>
  </nz-form-item>
</form>