
<div class="modal-header">
  <div class="modal-title">详情</div>
</div>
<nz-tabset class="mb-lg" (nzSelectedIndexChange)="selectStyleIndex($event)" [nzSelectedIndex]="styleIndex">
  <nz-tab nzTitle="左右三栏式">适合大部分字段内容都不太长, 至少不需要换行的情况</nz-tab>
  <nz-tab nzTitle="上下两栏式">适合大部分字段内容都比较长, 需要换行的情况</nz-tab>
  <nz-tab nzTitle="一栏">适合字段内容都比较长,或者高度不一致的情况</nz-tab>
</nz-tabset>
<nz-spin class="modal-spin" *ngIf="!data"></nz-spin>
<sv-container *ngIf="data && !styleChanging" [layout]="dlLayout" [col]="dlCol">
  <sv label="key">{{data.key}}</sv>
  <sv label="编号">{{data.no}}</sv>
  <sv label="姓名">{{data.owner}}</sv>
  <sv label="头像"><img [_src]="data.avatar"/></sv>
  <sv label="任务">{{data.title}}</sv>
  <sv label="状态">{{data.statusText}}</sv>
  <sv label="链接">{{data.href}}</sv>
  <sv label="调用次数">{{data.callNo}}万</sv>
  <sv label="进度">{{data.progress}}％</sv>
  <sv label="描述">{{data.description}}</sv>
  <sv label="更新日期">{{data.updatedAt | _date:'YYYY-MM-DD'}}</sv>
  <sv label="创建日期">{{data.createdAt | _date:'YYYY-MM-DD'}}</sv>
</sv-container>