page-header([title]="'单号：234231029431'")
  ng-template(#action="")
    nz-button-group
      button(nz-button="") 普通操作
      button(nz-button="") 普通操作
    nz-dropdown.mx-sm
      button(nz-button="", nz-dropdown="")
        i.anticon.anticon-ellipsis
      ul(nz-menu="")
        li(nz-menu-item="") 选项一
        li(nz-menu-item="") 选项二
        li(nz-menu-item="") 选项三
    button(nz-button="",nzType="primary") 主操作
  ng-template(#extra="")
    div(nz-row="")
      div(nz-col="", nzXs="24", nzSm="12")
        p.text-grey 状态
        p.text-lg 待审批
      div(nz-col="", nzXs="24", nzSm="12")
        p.text-grey 订单金额
        p.text-lg ¥ 568.08
  sv-container(size="small", col="2")
    sv(label="创建人") 曲丽丽
    sv(label="订购产品") XX 服务
    sv(label="创建时间") 2017-07-07
    sv(label="关联单据")
      a((click)="msg.success('yes')") 12421
    sv(label="生效日期") 2017-07-07 ~ 2017-08-08
    sv(label="备注") 请于两个工作日内确认
nz-card.mb-lg([nzBordered]="false", nzTitle="流程进度")
  nz-steps([nzCurrent]="1", nzProgressDot="")
    nz-step([nzTitle]="'创建项目'", [nzDescription]="createDesc")
      ng-template(#createDesc="")
        .desc
          .my-sm 曲丽丽
          i.anticon.anticon-dingding-o.ml-sm
          div 2016-12-12 12:32
    nz-step([nzTitle]="'部门初审'", [nzDescription]="checkedDesc")
      ng-template(#checkedDesc="")
        .desc
          .my-sm 周毛毛
          i.anticon.anticon-dingding-o.ml-sm(style="color: #00a0e9;")
          a((click)="msg.success('click')") 催一下
    nz-step([nzTitle]="'财务复核'")
    nz-step([nzTitle]="'完成'")
  .steps-content
nz-card.mb-lg([nzBordered]="false", nzTitle="用户信息")
  sv-container.mb-lg
    sv(label="用户姓名") 付小小
    sv(label="会员卡号") 32943898021309809423
    sv(label="身份证") 3321944288191034921
    sv(label="联系方式") 18112345678
    sv(label="联系地址") 曲丽丽 18100000000 浙江省杭州市西湖区黄姑山路工专路交叉路口
  sv-container.mb-lg(title="信息组")
    sv(label="某某数据") 725
    sv(label="该数据更新时间") 2017-08-08
    sv &nbsp;
    sv([label]="term")
      ng-template(#term="")
        nz-tooltip([nzTitle]="'数据说明'")
          | 某某数据
          span(nz-tooltip="")
            i.anticon.anticon-info-circle-o
      | 725
  h4.mb-md 信息组
  nz-card(nzType="inner", nzTitle="多层级信息组")
    sv-container.mb-md(size="small", title="组名称")
      sv(label="负责人") 林东东
      sv(label="角色码") 1234567
      sv(label="所属部门") XX公司 - YY部
      sv(label="过期时间") 2017-08-08
      sv(label="描述") 这段描述很长很长很长很长很长很长很长很长很长很长很长很长很长很长...
    nz-divider.mb-md
    sv-container.mb-md(size="small", title="组名称", col="1")
      sv(label="学名") Citrullus lanatus (Thunb.) Matsum. et Nakai一年生蔓生藤本；茎、枝粗壮，具明显的棱。卷须较粗..
    nz-divider.mb-md
    sv-container(size="small", title="组名称")
      sv(label="负责人") 付小小
      sv(label="角色码") 1234568
nz-card.mb-lg([nzBordered]="false", nzTitle="用户近半年来电记录")
  .no-data
    i.anticon.anticon-frown-o
    | 暂无数据
nz-card([nzBordered]="false")
  nz-card-tab
    nz-tabset(nzSize="large", (nzSelectChange)="change($event)")
      nz-tab(nzTitle="操作日志一")
      nz-tab(nzTitle="操作日志二")
      nz-tab(nzTitle="操作日志三")
  st([columns]="opColumns", [data]="list")
    ng-template(st-row="status",let-i="")
      nz-badge(*ngIf="i.status === 'success'", [nzStatus]="'success'",[nzText]="'成功'")
      nz-badge(*ngIf="i.status !== 'success'", [nzStatus]="'processing'", [nzText]="'进行中'")
